/* ========================twikoo美化====================== */
/* 隐藏评论者头像 */
// #twikoo .tk-comments .tk-submit .tk-avatar.tk-has-avatar {
//     display: none;
// }

/* 下面表情和按钮那一栏的设置 */
#twikoo .tk-comments .tk-submit .tk-row.actions{
    margin-bottom: 0;
    margin-left: 0;
}

/* 个人信息和文本输入之间的空位置 */
.tk-main .tk-submit .tk-col .tk-meta-input,
#twikoo .tk-comments .tk-submit .tk-col .tk-meta-input{
    margin-bottom: 16px;
}

/* 直接固定高度，解决提交按钮有时高度不起作用的问题 */
.tk-row.actions button.el-button {
    height: 32px;
}

/* 解决图片大小超出范围问题 */
.tk-main .tk-content img {
  max-width: 100%;
  height: auto;
}

/* 圆角设置 */
.tk-meta-input input {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tk-meta-input div {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* 输入框样式 */
.tk-input.el-textarea textarea {
    border-radius: 12px;
    min-height: 150px !important;
    height: auto;
}

/* 宽度太窄的时候去掉预览按钮 */
@media screen and (max-width:420px) {
    .tk-main .tk-submit .tk-row.actions button.el-button.tk-preview.el-button--default.el-button--small{
        display: none;
    }
}

:root {
  --mete0r-radius: 12px;
  --mete0r-card-border-width: 1px;
}

/* 浅色模式颜色 */
[data-theme=light] {
  --mete0r-border-color: #e3e8f7;
  --mete0r-card-bg: #fff;
  --mete0r-card-border: #e3e8f7;
  --style-border-always: 1px solid var(--mete0r-card-border);
  --mete0r-blue: #425AEF;
}

/* 深色模式颜色 */
[data-theme=dark] {
  --mete0r-border-color: #42444a;
  --mete0r-card-bg: #2c2c2c;
  --mete0r-card-border: #42444a;
  --style-border-always: 1px solid var(--mete0r-card-border);
  --mete0r-blue: #0084FF;
}

/* ========================评论区评论大框====================== */
.twikoo .tk-comments-container > .tk-comment,
.twikoo .tk-comments .tk-submit
  padding 20px       // 内边距
  margin-top 10px
  margin-bottom 20px
  border-radius 12px // 圆角，可自定义
  transition .3s     // 变动动画时长

/* 浅色模式评论区评论大框 */
//[data-theme=light] 
//.twikoo .tk-comments-container>.tk-comment,
//.twikoo .tk-comments .tk-submit {
//  /* 阴影 */
 // box-shadow: var(--card-box-shadow);
//}

/* 浅色模式评论区评论大框阴影悬浮加深 */
//[data-theme=light] 
//.twikoo .tk-comments-container>.tk-comment:hover,
//.twikoo .tk-comments .tk-submit:hover {
//  /* 阴影（浅色模式突出层次感） */
//  box-shadow: var(--card-hover-box-shadow);
//}

/* 黑暗模式评论区评论大框 */
//[data-theme=dark] 
//.twikoo .tk-comments-container>.tk-comment,
//.twikoo .tk-comments .tk-submit {
 // /* 边框样式 */
//  border-style: solid;
//  /* 边框宽度 */
//  border-width: var(--mete0r-card-border-width);
 // /* 边框颜色 */
 // border-color: var(--mete0r-card-border);
//}

/* 设备信息 */
.twikoo .tk-extra {
  /* 圆角 */
  border-radius: var(--mete0r-radius);
  /* 背景颜色 */
  background: var(--mete0r-card-bg);
  /* 内边距 */
  padding: 0.4rem;
  /* 底边距 */
  margin-bottom: 1rem;
  /* 变动动画时长 */
  transition: .3s;
}

/* 浅色模式设备信息 */
[data-theme=light] .twikoo .tk-extra {
  /* 阴影 */
  box-shadow: var(--card-box-shadow);
}

/* 浅色模式设备信息阴影悬浮加深 */
[data-theme=light] .twikoo .tk-extra:hover {
  /* 阴影 */
  box-shadow: var(--card-hover-box-shadow);
}

/* 黑暗模式设备信息 */
[data-theme=dark] .twikoo .tk-extra {
  /* 边框样式 */
  border-style: solid;
  /* 边框宽度 */
  border-width: var(--mete0r-card-border-width);
  /* 边框颜色 */
  border-color: var(--mete0r-card-border);
}

/* 加载更多按钮 */
.twikoo .tk-expand {
  /* 圆角 */
  border-radius: var(--mete0r-radius);
}

/* 浅色模式加载更多按钮 */
[data-theme=light] .twikoo .tk-expand {
  /* 阴影 */
  box-shadow: var(--card-box-shadow);
}

/* 浅色模式加载更多按钮（鼠标悬浮时） */
[data-theme=light] .twikoo .tk-expand:hover {
  /* 阴影 */
  box-shadow: var(--card-hover-box-shadow);
  /* 背景颜色 */
  background-color: var(--btn-bg);
}
 
/* 黑暗模式加载更多按钮（鼠标悬浮时） */
[data-theme=dark] .twikoo .tk-expand:hover {
  /* 背景颜色 */
  background-color: var(--mete0r-blue);
}

/* 黑暗模式加载更多按钮 */
[data-theme=dark] .twikoo .tk-expand {
  /* 边框样式 */
  border-style: solid;
  /* 边框宽度 */
  border-width: var(--mete0r-card-border-width);
  /* 边框颜色 */
  border-color: var(--mete0r-card-border);
}

/* 分类卡片移动端个人信息卡片只显示两个 */
@media screen and (max-width:570px) {
    .tk-main .tk-extras {
        display: none;
    }
}

/* 评论区按钮样式 */
.tk-row.actions button.el-button {
    border-radius: 12px !important;
}

/* 由于twikoo内部函数不宜修改，为了合适，去掉弹窗中的刷新按钮，该部分不需要，这是为了适配右键回复弹窗的内容的
#popup #twikoo .tk-comments .tk-comments-container .tk-comments-title > span:nth-child(2) > span:nth-child(1) {
	display: none;
} */

/* 隐藏 Markdown 图标按钮 */
.tk-submit-action-icon.__markdown {
    display: none !important;
}

/* 隐藏预览按钮 */
.tk-preview.el-button {
    display: none !important;
}

/* 评论区排序下拉框样式 */
.tk-comments-sort .tk-sort-select
  background-color #42444a   // 和底板统一
  border 1px solid #ddd      // 可选边框
  border-radius 6px           // 圆角
  padding 4px 8px             // 内边距
  color #ddd                  // 字体颜色
  font-size 14px              // 字体大小
  outline none                // 去掉选中蓝色边框

/* ========================twikoo美化====================== */
